body {
    font-family: Roboto;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    color: #1b1b1d;
    overflow-y: scroll;
    background-image: url(../../files/tiles.webp);
}

button {
    padding: 4px 12px;
}

h1 {
    text-align: center;
}

li {
    margin-top: 10px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    width: min(650px, calc(100% - 100px));
    background: #fff;
}

.header {
    width: 100px;
    height: 100%;
    padding: 20px;
    background: #b5cee8;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 1051px) {
    .header .mobile-header {
        display: none !important;
    }
}

@media (max-width: 1050px) {
    .header {
        align-items: center;
        position: sticky;
        width: 100%;
    }

    .header .link {
        display: none;
    }
    
    .header.active .link {
        display: inline-block;
    }

    .header .mobile-header {
        display: inline-block;
        font-size: 25px;
    }
}

.dull-text {
    text-align: right;
    color: #1b1b1d79;
}